.sidebar {
    margin-top: 10px;
}

.sidebar_btn button {
    background-color: transparent;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    border-radius: 20px;
    padding: 15px 25px;
    margin-left: 20px;
    box-shadow: 2px 2px 2px #ccc;
}

.sidebar_btn button:hover{
    background-color: aliceblue;
}

.sidebar_btn button span {
    font-size: 15px;
}

.sidebar_options {
    margin-top: 13px;
}

.sidebar_option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 28px;
    border-radius: 0px 20px 20px 0px;
}

.sidebar_option:hover {
    background-color: #dadada;
    cursor: pointer;
}

.sidebar_option span {
    font-size: 14px;
    font-weight: 500;
    color: rgb(77, 77, 77);
}

.sidebar_option-Active {
    background-color: #e8f0fe;
}

.sidebar_option-Active span {
    color: #1367d2;
}

.sidebar_option-Active svg {
    color: #1367d2;
}

.progress_bar {
    padding: 0px 27px;
}

.progress_bar span {
    display: block;
    font-size: 13px;
    color: #333;
}

.button2 {
    padding: 10px 18px;
    border-radius: 20px;
    outline: none;
    margin-top: 13px;
    margin-left: 20px;
    border: 0.2px solid black;
}

.button2:hover {
    background-color: #e8f0fe;
}

.button2 h1 {
    font-size: 15px;
    font-weight: 500;
    color: #1367d2;
}

.modal_layer {
    width: 500px;
    position: relative;
    top: 50%;
    background-color: #fff;
    margin: 0px auto;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.modal_heading {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.file {
    width: 478px;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #dadada;
    margin-top: 10px;
}

input.submit_post {
    width: 100%;
    background-color: #1367d2;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.uploading{
    width: 100%;
    height: 6vh;
    background-color: green;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "gilroy";
}
